<router-outlet></router-outlet>
<!-- <app-dashboard-sec1></app-dashboard-sec1> -->
<!-- <app-dashboard-sec2></app-dashboard-sec2> -->
<!-- <app-dashboard-sec3></app-dashboard-sec3> -->
<!-- <app-dashboard-sec4></app-dashboard-sec4> -->
<!-- <app-footer></app-footer> -->
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-confirmation></app-confirmation> -->
<!-- <app-verification></app-verification> -->
<!-- <app-new-password></app-new-password> -->
<!-- <app-forgot-password></app-forgot-password> -->
